body {
  background-color: #040D12;
  color: #fff;
  font-family: sans-serif;
}

.navbar {
  background-image: linear-gradient(to right, #1f2732, #445961, #738f8d, #afc7b9, #f8ffe7);
}

a {
  text-decoration: none !important;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
  background-image: linear-gradient(to right, #e7e7e7, #dde2f0, #c8dff8, #a9dffd, #82e0f9);
}

#userCountLabel, #selectedCount {
  font-size: 25px;
}

#userInputModal {
  color: #000;
}

.gradient-card, #freeCard:hover, #proCard:hover, #enterpriseCard:hover {
  background: linear-gradient(209deg, rgba(97,88,255,1) 0%, rgba(255,70,251,1) 52%, rgba(178,242,255,1) 100%) !important;
  border: none;
}

.character {
  background-image: linear-gradient(to right, #252525, #303030, #3b3b3b, #474747, #535353);
  width: 25rem;
  height: 25rem;
}

.card-img {
  width: 40%;
  height: 40%;
}

.employment {
  background-color: #000;
  color: #fff;
  border-radius: .5rem;
  padding: .5rem;
}

.character-detail {
  padding: .5rem;
  border-radius: .5rem;
}